html
    head
        title Selamat Datang
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        style(type='text/css').
           .container {
                width: 40%;
                margin-top: 5%
            }
    body
    div.container
        h3(align="center") Login
        form(action="/login" method="post")
            div.card.text-white.bg-light.mb-3
                h5(class="card-header" style="color: black") Form Login
                div.card-body
                    h5(class="card-header" style="color: black") Username
                    input(class="form-control" placeholder="Input Username" name="username")
                    br
                    h5(class="card-header" style="color: black") Password
                    input(class="form-control" placeholder="Input Password" name="password")
                    br
                    input(class="btn btn-success" type="submit" value="Simpan")
                    button(type='button' class="btn btn-success" onclick='self.history.back()') Kembali